.Activity-Card.work {
  background: hsl(15, 100%, 70%) url(../../../public/images/icon-work.svg)
    no-repeat 95% -10%;
  background-size: 77px;
}

.Activity-Card.play {
  background: hsl(195, 74%, 62%) url(../../../public/images/icon-play.svg)
    no-repeat 95% -8%;
}

.Activity-Card.study {
  background: hsl(348, 71%, 63%) url(../../../public/images/icon-study.svg)
    no-repeat 95% -10%;
}

.Activity-Card.exercise {
  background: hsl(145, 58%, 55%) url(../../../public/images/icon-exercise.svg)
    no-repeat 95% -5%;
  background-size: 90px;
}

.Activity-Card.social {
  background: hsl(264, 64%, 52%) url(../../../public/images/icon-social.svg)
    no-repeat 95% -18%;
  background-size: 65px;
}

.Activity-Card.self-care {
  background: hsl(43, 84%, 65%) url(../../../public/images/icon-self-care.svg)
    no-repeat 95% -12%;
  background-size: 60px;
}

.Activity {
  background-color: hsl(235, 46%, 20%);
  padding: 20px 10px 20px 20px;
  z-index: 1;
}

.Activity:hover {
  background-color: rgb(61, 65, 129);
}

.Activity-Card,
.Activity {
  height: 185px;
  border-radius: 10px;
  cursor: pointer;
}

.background-icon {
  height: 40px;
}

.Activity {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 50px 40px 20px;
  align-items: center;
  row-gap: 10px;
  padding: 10px 20px 0 20px;
}

.Activity img {
  justify-self: end;
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.Activity img {
  width: 20px;
  opacity: 0.7;
}

.Activity img:hover {
  opacity: 1;
}

.current-stats {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 5px;
}

.previous-stats {
  font-size: 0.8rem;
  opacity: 0.7;
  grid-row: 3 / 3;
}

@media only screen and (max-width: 1044px) {
  .Activity-Card {
    background-position: 85% -85%;
  }

  .Activity-Card,
  .Activity {
    grid-column: 1 / -1;
    height: 120px;
  }

  .Activity {
    grid-template-rows: 30px 30px;
    row-gap: 15px;
    padding: 20px 20px 50px 20px;
  }

  .Activity img {
    justify-self: end;
  }

  .previous-stats {
    grid-row: 2/2;
    grid-column: 2/2;
  }
}
