.Activity-Card {
  background: hsl(15, 100%, 70%) url(../../../public/images/icon-work.svg) no-repeat 85% -18%;
}

.Activity {
  background-color: hsl(235, 46%, 20%);
  padding: 10px;
  z-index: 1;
  position: relative;
}

.Activity-Card,
.Activity {
  height: 190px;
  border-radius: 10px;
}

.background-icon {
  height: 30px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  margin: 0 65px 10px 0;
}

.Activity img {
  width: 15px;
  vertical-align: middle;
}

.current-stats {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 5px;
}

.previous-stats {
  font-size: 0.8rem;
  opacity: 0.7;
}

@media only screen and (max-width: 583px) {
  .Activity-Card,
  .Activity {
    grid-column: 1 / -1;
    height: 100px;
  }

  .Activity {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 30px 30px;
    align-items: center;
    row-gap: 10px;
    padding: 10px 20px 40px 20px;
  }

  .Activity img {
    justify-self: end;
  }
}
