.Dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 1.5rem;
}

@media only screen and (max-width: 650px) {
  .Dashboard-grid {
    /* Collapses into 1 column */
    grid-template-columns: 1fr;
  }
}
